
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #3E8E41;
  color: white;
  padding: 15px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

main {
  padding: 15px;
  max-width: 100%;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  color: #3E8E41;
  font-size: 1.5em;
}

section p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.step {
  margin-bottom: 15px;
}

.step h3 {
  color: #3E8E41;
  font-size: 1.25em;
  margin-bottom: 5px;
}

.step p {
  margin-bottom: 5px;
}

#graph-visualizer {
  text-align: left;
}

footer {
  background-color: #222;
  color: white;
  text-align: left;
  padding: 10px 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

/* Specific styles required */
#cy {
  width: 90%;
  height: 600px;
  border: 1px solid #ccc;
  flex: 3;
  margin-left: 10px;
}

#container {
  display: flex;
  align-items: stretch;
  margin-top: 10px;
}

#inp {
  flex: 1;
  resize: none;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#inp:focus {
  outline: none;
  border-color: #3E8E41;
}
