#cy {
  flex-grow: 1;
  border: 1px solid #ccc;
  flex: 3;
  margin-left: 30px;
}

#container {
  display: flex;
  align-items: stretch;
}

#inp {
  flex: 1;
  resize: none;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

#inp:focus {
  outline: none;
  border-color: #3E8E41;
}

button {
  width: 100%;
  margin-top: 10px;
}